@use 'sass:math';
@use '../../_config.scss' as *;
@use '../components/cards/_card-specifications.scss' as *;

.journey{
    @include imageRatio(1440,605);
    background-color: #000000;

    &__title{
        margin-bottom: 66px;
    }

    &__inner{
        position: relative;

    }
    &__specification{
        display: grid;
        grid-template-columns: 1fr;
        gap: 57px;
        position: absolute;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
        z-index: 3;
        
    }
}